:root {
  --bg-primary: black;
  --fg-primary: white;

}

@font-face {
  font-family: font;
  src: url(font.ttf);
}

a {
  outline: none;
}

@media only screen and (min-width: 769px) {
  nav {
    display: none;
  }

  .imageDiv {
    background: url(https://i.kym-cdn.com/photos/images/original/002/738/959/060.gif);
    width: 20dvw !important;
    height: 20dvw !important;
    background-size: cover;
    background-position: center;
    border-radius: 3dvw !important;
    margin-top: 10rem !important;
  }

  .playbutton {
    display: none !important;
  }
}



@media only screen and (max-width: 768px) {
  header>div {
    display: none !important;
  }

  footer {
    justify-content: center !important;
    align-items: center !important;
    gap: 3rem !important;
  }

}

@media (prefers-color-scheme: dark) {

  body,
  footer,
  button {
    background: black !important;
    color: white !important;
  }

  nav>form>select {
    font-size: 3rem;
    border: 0.5rem solid rgb(43, 43, 43) !important;
    border-radius: 100dvw;
    color: white !important;
    text-decoration: none;
    padding: 1rem;
    background: rgb(15, 15, 15) !important;
    box-shadow: inset 0px 0px 10px rgb(43, 43, 43) !important;
  }

  .playbutton {
    box-shadow: inset 0px 0px 10px rgb(43, 43, 43) !important;
    border: 0.5rem solid rgba(222, 222, 222, 0.57) !important;
    color: rgba(238, 238, 238, 0.97) !important;

  }
}

@media (prefers-color-scheme: light) {

  body,
  footer,
  button,
  .playbutton {
    background: white !important;
    color: black !important;
  }
}