:root {
  --bg-primary: black;
  --fg-primary: white;

}

@font-face {
  font-family: font;
  src: url(font.ttf);
}

a {
  outline: none;
}

@media only screen and (min-width: 769px) {
  nav {
    display: none;
  }
}



@media only screen and (max-width: 768px) {
  header>div {
    display: none !important;
  }

  footer {
    justify-content: center !important;
    align-items: center !important;
    gap: 3rem !important;
  }

}

@media (prefers-color-scheme: dark) {

  body,
  footer,
  button {
    background: black !important;
    color: white !important;
  }
}

@media (prefers-color-scheme: light) {

  body,
  footer,
  button {
    background: white !important;
    color: black !important;
  }
}